---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Apartments from '../components/Apartments.astro';
import Map from '../components/Map.astro';
---

<Layout title='Departamentos ITSON'>
  <main>
    <Hero />
    <Features />
    <Apartments />
    <Map />
  </main>
</Layout>

<style>
  main {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
