<section>
  <div class='row'>
    <h1>Nuestras amenidades</h1>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='card'>
        <div class='icon'>
          <i class='fa-solid fa-graduation-cap'></i>
        </div>
        <h3>Perfecto para estudiantes</h3>
        <p>
          Todo lo que necesitas para vivir comodamente.
          <br />Cocina con refrigerador, parrila electrica, lavaplatos y barra desayunador.
          Patio con lavadero y tendederos.
          Internet y agua incluidos.
        </p>
      </div>
    </div>
    <div class='column'>
      <div class='card'>
        <div class='icon'>
          <i class='fa-solid fa-shield-halved'></i>
        </div>
        <h3>Seguro</h3>
        <p>
          Acceso principal al edificio con candado de combinación.
          Cada departamento enrejado, puerta, ventana y patio trasero.
          Todos con acceso directo a pasillo ventilado.
          <br />
        </p>
      </div>
    </div>
    <div class='column'>
      <div class='card'>
        <div class='icon'>
          <i class='fa-sharp fa-solid fa-location-dot'></i>
        </div>
        <h3>Accesible</h3>
        <p>
          A una cuadra de ITSON, a dos cuadras de la laguna del Nainari, cerca de cines, hospitales y supermercados.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
  .row h1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0.6em 0;
    font-weight: 600;
    color: #070024;
  }
  .column {
    padding: 1em;
  }
  .card {
    padding: 3.1em 1.25em;
    text-align: center;
    background: linear-gradient(0deg, #fcd703 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
    height: 500px;
  }
  .card .icon {
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: auto;
    background-color: #fcd703;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #ffffff;
  }
  .icon:before {
    position: absolute;
    content: '';
    height: 1.5em;
    width: 1.5em;
    border: 0.12em solid #fcd703;
    border-radius: 50%;
    transition: 0.5s;
  }
  .card h3 {
    font-size: 1.3em;
    margin: 1em 0 1.4em 0;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #070024;
  }
  .card p {
    line-height: 2em;
    color: #625a71;
  }
  .card:hover {
    background-position: 0;
  }
  .card:hover .icon:before {
    height: 2.25em;
    width: 2.25em;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 2em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }
</style>
