<footer>
  <p>&copy; 2023 Departamentos ITSON</p>
  <div class="phone">
    <i class="fa-solid fa-phone"></i>
    <p>(+52) 644 129 5205</p>
  </div>
</footer>

<style>
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer p {
    font-size: 1em;
    margin: 0;
    display: flex;
    align-items: center;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  .phone {
    display: flex;
    align-items: center;
  }

  .phone p {
    margin-left: 5px;
  }
</style>