<section class='map'>
  <h2>Cerca de todo lo que necesitas</h2>
  <div>
    <iframe
      src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d625.6714438063395!2d-109.97319568991044!3d27.490043361143627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86c83e14adee4cf9%3A0xdb732360f7265ff0!2sAv%20Itson%202546%2C%20Itson%2C%2085130%20Cd%20Obreg%C3%B3n%2C%20Son.!5e0!3m2!1sen!2smx!4v1680154572226!5m2!1sen!2smx'
      width='100%'
      height='600'
      style='border:none;'
      allowfullscreen=''
      loading='lazy'></iframe>
  </div>
</section>  

<style>
  .map h2 {
    font-size: 2em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    color: #070024;
  }
  .map div {
    margin-top: 20px;
    margin-bottom: -10px;
  }
</style>
